@media (max-width:600px) {
    .nav{
        height: auto;
        width:100%
    }
    .nav_content{
        flex-direction: column;
        max-width: 550px;
        min-width: 400px;
    }
    .nav_rightside{
        flex-direction: column;
        align-items:center;
        width:100%;
        max-width: 550px;
        min-width:400px;
        gap:8px;
    }
    .banner{
        flex-direction:column;
        min-width: 400px;
    }
    .banner_text_container{
        width: 100%;
        min-height: 200px;
        order:2 ;
    }
    .banner_img_container{
        width: 100%;
        min-height: 200px;
        order:1 ;
    }
}


